html {
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    background-color: gray;
}

#container {
    height:fit-content;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 1px solid;
    background-color: rgb(219, 216, 216);
}

#keys {
    display: grid;
}