html {
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#container {
    height:fit-content;
    display: inline-block;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}